<% layout('layouts/boilerplate') %>

     <div class="row mx-0">
        
        <table class="table table-bordered ">
            <div class="sticky-top">
                <thead>
                    <tr class="bg-dark text-light" >
                        <th>State</th>
                        <th>Today Cases</th>
                        <th>No. of Deaths</th>
                        <th>Recovered</th>
                        <th>Active Cases</th>
                    </tr>
                </thead>
            </div>
            

              <% data.forEach((state) => {%>
                <tr>
                    <td class="table-primary"><%=state.state%></td>               
                    <td class="table-warning"><%=state.deltaconfirmed%></td>
                    <td class="table-danger"><%=state.deltadeaths%></td>
                    <td class="table-success"><%=state.deltarecovered%></td>
                    <td class="table-warning"><%=state.active%></td>
                </tr>
            <%})%>
        </table>
    </div>
   
